<!doctype html>
<html ng-app>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/baloonCtrl.js"></script>
  </head>
  <body ng-controller="BaloonCtrl">
    <h1>Le Baloons</h1>
      <form class="well span12">
        Number <input type="number" ng-model="number"/>&nbsp;
        Cost per unit <input type="number" ng-model="unitPrice"/>&nbsp;&nbsp;
        <span class="lead">Total: {{total()}}</span>
      </form>
  </body>
</html>